<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout::header">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="admin/layout::app-navbar" >

        </div>

        <!-- top navigation -->
        <div class="top_nav" th:replace="admin/layout::app-header" >

        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">

                <div class="page-title">
                    <div class="title_left">
                        <h3 th:text="${term}"><span th:text="${session.username}"></span></h3>
                    </div>
                    <div class="title_right">
                        <div class="col-md-12 col-sm-12">
                            <div class="float-right"> <a th:href="@{/admin/productline/add}" class="btn btn-primary" th:text="${title}"></a></div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th colspan="2">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="productLine,iter : ${productLines}">
                                <tr>
                                    <th th:text="${iter.index+1}"></th>
                                    <td th:text="${productLine.name}"></td>
                                    <td th:text="${productLine.textDescription}"></td>
                                    <td>
                                        <th:block th:if="${productLine.image}">
                                            <img th:src="@{/upload/__${productLine.image}__}" height="120px">
                                        </th:block>
                                    </td>
                                    <td><a th:href="@{/admin/productline/edit/__${productLine.id}__ }">Edit</a></td>
                                    <td><a th:href="@{/admin/productline/delete/__${productLine.id}__ }">Delete</a></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="admin/layout::app-footer" >

        </footer>
        <!-- /footer content -->
    </div>
</div>
<th:block th:replace="admin/layout::block-script" >
</th:block>

</body>
</html>